
    <nav>
        <div class="header_logo">
            <img th:src="@{img/flowerShopLogo.png}" alt="" id="logo" height="40px">
        </div>
        <div class="header_icons">
            <a href="" class="icon"><i class="fas fa-search"></i></a>
            <a href="" class="icon"><i class="far fa-user"></i></a>
            <a href="" class="icon"><i class="far fa-heart"></i></a>
            <a href="" class="icon"><i class="fas fa-shopping-cart"></i></a>
        </div>
        <div class="header_button">
            <!-- #fef2e5 -->
            <a href=""><button class="sign_up">Sign Up</button></a>
            <a href=""><button class="login">Login</button></a>
        </div>
    </nav>
