
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <div id="nav" th:fragment="nav">
            <div class="nav header_logo">
                <i  ` mg th:src="@{img/flowerShopLogo.png}" alt="" id="logo" height="40px" src="">
            </div>
            <div class="header_icons">
                <a href="" class="icon"><i class="fas fa-search"></i></a>
                <a href="" class="icon"><i class="far fa-user"></i></a>
                <a href="" class="icon"><i class="far fa-heart"></i></a>
                <a href="" class="icon"><i class="fas fa-shopping-cart"></i></a>
            </div>
            <div class="header_button">
                <!-- #fef2e5 -->
                <a href=""><button class="sign_up">Sign Up</button></a>
                <a href=""><button class="login">Login</button></a>
            </div>
        </div>

</html>